@reference '../globals.css'

. {
    @apply max-w-3xl p-4 text-left;
}

.legal {
    @apply max-w-3xl;
    @apply p-4;
    @apply text-left;
}

.legal ul {
    @apply list-outside;
    @apply list-disc;
    @apply pl-5;
}
