name: Build and Deploy

permissions:
  contents: read

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-*'

env:
  REPO: docker.nexus.themcbrothers.net
  NAME: movies-series

jobs:
  test:
    uses: ./.github/workflows/test.yml
    with:
      node-version: 24

  build:
    runs-on: ubuntu-latest
    needs: [ test ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to registry
        uses: docker/login-action@v2
        with:
          registry: ${{env.REPO}}
          username: ${{secrets.USER}}
          password: ${{secrets.PWD}}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{env.REPO}}/${{env.NAME}}:latest
            ${{env.REPO}}/${{env.NAME}}:${{github.ref_name}}
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: [ build ]
    environment: Production
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy stack
        uses: distributhor/workflow-webhook@v3
        with:
          webhook_url: ${{ secrets.DEPLOY_WEBHOOK_URL }}
          silent: true

      - name: GitHub Release
        uses: ncipollo/release-action@v1.20.0
        with:
          allowUpdates: true
          generateReleaseNotes: true
          removeArtifacts: true
          replacesArtifacts: true