name: Test

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: string

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses:
          actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          cache: true

      - name: Linting checks
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node-version }}
          cache: "pnpm"
      - run: pnpm i
      - run: pnpm run prettier-check
      - run: pnpm run lint
