name: Test

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: string

jobs:
  quality:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses:
          actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Linting checks
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node-version }}
          cache: "pnpm"
      - run: pnpm install
      - run: pnpm prettier-check
      - run: pnpm lint
